<div id="messageNavabar" class="fixed-top" >
  <!-- <nav class="navbar navbar-light bg-light" id="navbar">
    <div>
      <i class="fas fa-image" id="image"></i><i class="fas fa-play" id="play"></i><i class="far fa-alarm-clock" id="clock"></i><i class="fas fa-exclamation-triangle" id="triangle"></i>
    </div>
    <form class="form-inline">
        <i class="fab fa-bluetooth-b" id="bluetooth"></i><i class="fas fa-wifi" id="wifi"></i> 78% <i class="fas fa-battery-three-quarters" id="battery"></i> 5:55 PM -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- </form>
  </nav> -->
  <nav class="navbar navbar-light bg-light" id="navbar2">
    <div id="fav" class="inlBlock"><i class="fas fa-user"></i><br>1-888-888-8888</div>
  </nav>
  <i class="fas fa-caret-left" id="leftArrow" routerLink="/messages"></i>
</div>