<!-- <app-navbar></app-navbar> -->

<div class="card" style="width: 95%;" id="searchBar">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><i class="fal fa-search"></i> <input type="text" placeholder="Search contacts & places" class="bNone">  <i class="far fa-ellipsis-v"></i><i class="fas fa-microphone"></i></li>
    <li class="list-group-item bNone"><img class="fRight" src="../../../assets/images/letterC.jpg"><span class="day"><i class="fas fa-caret-right" id="rightArrow"></i></span>Chandra Seethram<br><i class="far fa-infinity"></i> May 7 at 12:29 PM <i class="fas fa-circle"></i> 00:22</li>

  
  
  </ul>
</div>
<app-bottom-navbar2></app-bottom-navbar2>
<!-- <app-bottom-navbar></app-bottom-navbar> -->