<app-navbar2></app-navbar2>

<div class="container">

    <p class="from-me" id="firstText">Hey there! What's up</p>
    <p class="from-them">Checking out iOS7 you know..</p>
    <p class="from-me">Check out this bubble!</p>
    <p class="from-them">It's pretty cool!</p>
    <p class="from-me">Yeah it's pure CSS &amp; HTML</p>
    <p class="from-them" id="lastText">Wow that's impressive. But what's even more impressive is that this bubble is really high.</p>

</div>
<app-bottom-navbar3></app-bottom-navbar3>