<nav class="navbar navbar-light fixed-top bg-light">
  <div>
    <i class="fas fa-image" id="image"></i><i class="fas fa-play" id="play"></i><i class="far fa-alarm-clock" id="clock"></i><i class="fas fa-exclamation-triangle" id="triangle"></i>
  </div>
  <form class="form-inline">
      <i class="fab fa-bluetooth-b" id="bluetooth"></i><i class="fas fa-wifi" id="wifi"></i> 78% <i class="fas fa-battery-three-quarters" id="battery"></i> 5:55 PM
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  </form>
</nav>