<div id="fixBottom" class="fixed-bottom">
  <nav class="navbar navbar-light bg-light" id="navbar3">
    <div id="fav" class="inlBlock"><i class="fas fa-star"></i><span id="favText">Favorites</span></div><div id="fav2" class="inlBlock"><i class="fal fa-clock"></i>Recents</div><div id="fav3" class="inlBlock"><i class="far fa-address-book"></i>Contacts</div><div id="fav4" class="inlBlock"><i class="fal fa-infinity"></i>Voicemail</div>
  </nav>
  <!-- <nav class="navbar navbar-light bg-light" id="navbar2">
    <i class="fas fa-caret-left" id="leftArrow"></i><i class="fas fa-circle"></i><i class="fas fa-square" id="square"></i>
  </nav> -->
</div>

