<!-- <app-navbar></app-navbar> -->

<div id="topBar">

  <h6>Messages</h6>
  


</div>

<div id="icons">
    
  <i class="fal fa-ellipsis-v" id="threeDots"></i> 
  <i class="far fa-search" id="search"></i>
</div>
<div class="card" style="width: 98%;" id="messages">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" id="message1" routerLink="/individualMessage"><img class="fRight" src="../../../assets/images/letterW.jpg"><span class="day">Sun</span>WellConnect MDS<br>Wow that's impressive. But what's even more impressive is that this bubble is really high.</li>
  </ul>
</div>

<app-bottom-navbar5></app-bottom-navbar5>

