<div class="container">

  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
        <p id="mobile">What would you like to see?</p>
        <button type="button" class="btn btn-primary" routerLink="/messages">Messages</button>
        <button type="button" class="btn btn-primary" routerLink="/voicemail">Voicemail</button>
        <a href="https://smsvoicemail2.azurewebsites.net/">Click here to see Desktop Version</a>
        
      <!-- <button type="button" class="btn btn-secondary">3</button>
      <button type="button" class="btn btn-secondary">4</button> -->
    </div>
  </div>

</div>
